// Login
.auth {
  @include fill-container;

  &.wrapper {
    overflow: auto;
    padding: 0;
  }

  .auth-background {
    @include fill-container;
  }

  .auth-strip {
    @include block-center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-width: 100%;
    padding: 120px 0;
    text-align: center;
    width: 500px;

    .login {
      display: flex;
      flex-direction: column;
      overflow: visible;

      .input-control {
        width: 100%;
      }
    }

    .user-inputs {
      flex-grow: 1;
      margin: 0 3.75rem;
      position: relative;

      form {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
