<!-- Login view -->
<div id="login" class="login-form">
  <div class="auth wrapper">
    <div class="auth-background bg-steel">
      <div class="auth-strip bg-grayLighter">
        <div class="logo">
          <h1 class="">SmartEnergy</h1>
        </div>

        <div class="user-inputs">
          <form id="login-form" class="login">
            <div class="input-control text">
              <label>Username</label>
              <span class="mif-user prepend-icon"></span>
              <input type="text" name="username" placeholder="Username" required>
            </div>
            <input class="button primary bg-hover-cyan" type="submit" value="Login">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End login view -->
