.text-center {
  text-align: center;
}
.fill-container {
  height: auto;
  min-height: 100%;
  width: 100%;
}
.block-center {
  margin: 0px auto;
}
.block {
  display: block;
}
label {
  display: none;
}
label.show {
  display: inherit;
}
.tile-area {
  padding: 0;
}
.viewport {
  height: 100%;
}
.viewport .dashboard,
.viewport .login {
  height: 100%;
}
.chart {
  width: 100%;
  min-height: 450px;
}
div[class*="viewport"] > * {
  display: none;
}
#dashboard .page-content {
  padding-top: 3.125rem;
  min-height: 100%;
  height: 100%;
}
.auth {
  height: auto;
  min-height: 100%;
  width: 100%;
}
.auth.wrapper {
  padding: 0;
  overflow: auto;
}
.auth .auth-background {
  height: auto;
  min-height: 100%;
  width: 100%;
}
.auth .auth-strip {
  margin: 0px auto;
  height: 100vh;
  width: 500px;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 0px;
}
.auth .auth-strip .login-form {
  display: flex;
  flex-direction: column;
  overflow: visible;
}
.auth .auth-strip .login-form .input-control {
  width: 100%;
}
.auth .auth-strip .user-inputs {
  margin: 0 3.75rem;
  flex-grow: 1;
  position: relative;
}
.auth .auth-strip .user-inputs form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
